.mainnav{
    display:block;
}
.sub{
    width:100%;
}
#documenter_sidebar{
    margin-top:100px;
}
#lastNews a{
    border-bottom:1px dotted black;
}
.newsPhoto{
    width:80px;
    max-height:80px;
}

#showTable table{
    width:100%;
}
